<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>{{title}} - 예시 사이트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous">
</head>
<body class="bg-light">
<header class="bg-white shadow-sm mb-4">
    <div class="container py-4 d-flex flex-column flex-md-row align-items-start align-items-md-center text-start justify-content-md-between">
        <div class="mb-3 mb-md-0">
            <h1 class="h3 mb-0 fs-2">
                <a href="/" class="text-decoration-none text-dark fw-bold">예시 사이트</a>
            </h1>
        </div>
        <nav class="d-flex flex-wrap gap-2">
            <a href="/notice" class="btn btn-lg btn-outline-primary px-4">공지사항</a>
            <a href="/bbs" class="btn btn-lg btn-outline-secondary px-4">게시판</a>
            <a href="/sosick" class="btn btn-lg btn-outline-secondary px-4" hidden>소식</a>
            <a href="/guidemap" class="btn btn-lg btn-outline-secondary px-4">오시는길</a>
            <a href="/introduce" class="btn btn-lg btn-outline-secondary px-4"hidden>소개</a>
        </nav>
    </div>
</header>
<main class="container mb-5 pb-5 fs-5 bg-white shadow-sm rounded-4 p-5">

